[submodule "roscopter"]
	path = roscopter
	url = https://github.com/byu-magicc/roscopter.git
[submodule "rosflight_plugins"]
	path = rosflight_plugins
	url = https://github.com/byu-magicc/rosflight_plugins.git
[submodule "EKF-SLAM"]
	path = EKF-SLAM
	url = https://github.com/mmmfarrell/EKF-SLAM.git
[submodule "aruco_localization"]
	path = aruco_localization
	url = https://github.com/plusk01/aruco_localization.git
